* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#imagem {
  width: 90%;
}

body {
  background-color: #d9d9d9;
}
h1 {
  font-size: 25px;
  color: #545e55;
  font-family: Arial;
  text-align: center;
}
td {
  text-align: center;
  font-size: 13px;
}

/* header {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 40 px;
  background-color: #ffffff;
  height: 500px;
  height: 20vh;
  justify-content: center;
<<<<<<< HEAD
} */

article {
  background-color: #ffffff;
  width: 60%;
  text-align: justify;
  font-family: Arial;
  font-size: 15px;
  color: #000000;
  margin: auto;
  display: block;
  line-height: 1.5;
  padding: 30px;
  border-radius: 15px;
}
